.photo-grid {
    list-style: none;
    width: 90%;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    gap: 12px;
    padding: 64px 0 0;
}

@media screen and (min-width: 768px) {
    .photo-grid{
        width: 94%;
        padding-top: 88px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 16px;
    }
}

@media screen and (min-width: 1024px) {
    .photo-grid{
        width: 90%;
        padding-top: 92px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 14px;
    }
}

@media screen and (min-width: 1280px) {
    .photo-grid{
        width: 92%;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 16px;
    }
}