.cover__subtitle {
    margin: 0 auto;
    padding-top: 16px;
    max-width: 288px;
    text-align: center;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    color: #FFFFFF;
    z-index: 1;
}

@media screen and (min-width: 768px) {
    .cover__subtitle {
        padding-top: 32px;
        max-width: 360px;
        font-size: 18px;
        line-height: 122%;
    }
}
