.place__link {
    padding-bottom: 32px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 122%;
    text-decoration-line: underline;
    color: #FFFFFF;
    cursor: pointer;
}

.place__link:hover {
    opacity: 0.8;
}
