.cover__background {
    width: 100%;
    margin-top: 66px;
    display: flex;
    justify-content: center;
    background: url(../../../images/cover-trains.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.cover__background::after {
    content: "";
    width: 0;
    height: 0;
    padding-top: calc(740 / 1184 * 100%);
}



