.lead__caption {
    margin: 0 auto;
    width: 90%;
    padding-top: 8px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 140%;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #FFFFFF;
}

@media screen and (min-width: 768px) {
    .lead__caption {
        width: 94%;
    }
}

@media screen and (min-width: 1024px) {
    .lead__caption {
        width: 90%;
    }
}

@media screen and (min-width: 1280px) {
    .lead__caption {
        max-width: 77%;
    }
}